.logo {
  width: 50px;
  height: 31px;
  float: left;
}
.ant-layout-header{
  height: 180px;
  background-color: #ffffff;
  padding: 0;
}
.ant-menu{
  font-size: 20px;
  text-align: center;
}

/* Header CSS */

.header-contact-button{
  text-align: right;
}
.header-information{
  padding: 0 50px 0 50px;
  border-bottom: 1px solid red;
}
.header-navbar{
  padding: 25px 50px 75px 50px;
  /* padding: 50px 0 50px 0; */
}
.header-top-left{
  text-align: left;
}
.header-top-right{
  text-align: right;
}
.header-icon-sn{
  width: 24px;
  height: 24px;
}
.header-contact-link{
  margin: 5px;
}
.header-language{
  height: 32px;
  /* width: ; */
}

/* Footer CSS */
.footer-main{
  background-color: #0B1C32;
  color: #E0E0E0;
  font-size: 12px;
  line-height: 32px;
  padding: 25px 50px 15px 50px;
  
}
.footer-title{
  font-size: 24px;
  color: #FFFFFF;
}
.footer-link{
  font-size: 12px;
  color: #E0E0E0;
}
.footer-logo{
  max-width: 100%;
}
.footer-icon{
  border-radius: 8px;
  margin-left: 5px;
  width: 36px;
  height: 36px;
}

/* Main CSS */

.center{
  text-align: center;
  margin: auto;
}